<!-- client/views/leakage/leakage.html
===  
===  The Leakage templates.
===
===
===  Templates:
===
===
===
===  last-modified: <2014-01-28 12:27:05 golden@golden-garage.net>
-->

<!-- ___ leakage templates _____________________________________________________________________________________ -->
<!-- {{{ >leakage                                                                - display the leakage template  -->

<template name="leakage">
  <div id="leakage">

    {{> leakageFilters}}

    <div id="leakage-datatable" class="col-md-10">

      <h3>
        <i class="fa fa-arrows-alt"></i>&nbsp;Leakage&nbsp;per&nbsp;Month
      </h3>
      
      <table class="table table-striped table-bordered" width="100%">

        <thead>
          <tr>
            <th class="text-center" width="20%"> Month          </th>
            <th class="text-center" width="10%"> Count          </th>
            <th class="text-center" width="25%"> In Network     </th>
            <th class="text-center" width="25%"> Out of Network </th>
          </tr>
        </thead>

        <tbody>
          {{#each leakageSummaryByMonth}}
          <tr class="small"> 
            <th class="text-center"> {{ month        }} </th>
            <td class="text-right" > {{ count        }} </td>
            <td class="text-right" > {{ inNetwork    }} </td>
            <td class="text-right" > {{ outOfNetwork }} </td>
          </tr>
          {{/each}}
        </tbody>

        <tfoot>
          <tr class="small">
            <th class="text-center"> <b>Total</b>                   </th>
            <th class="text-right" > {{ leakageSummaryTotalCount }} </th>
            <th class="text-right" > {{ leakageSummaryTotalIn    }} </th>
            <th class="text-right" > {{ leakageSummaryTotalOut   }} </th>
          </tr>
        </tfoot>

      </table>

    </div>

  </div>
</template>

<!-- }}} -->
