<!-- client/views/leakage/leakageData.html
===  
===  The Leakage Data templates.
===
===
===  Templates:
===
===
===
===  last-modified: <2014-01-28 18:21:48 golden@golden-garage.net>
-->

<template name="leakageData">

  {{> leakageFilters}}

  <div id="leakageData" class="col-md-10">

    <h3>
      <i class="fa fa-arrows-alt"></i>&nbsp;Leakage&nbsp;Data ({{ leakageDataCount }})

      {{> leakageDataPageLimit}}

    </h3>
    
    <table class="table table-bordered table-striped" width="100%">
      <thead>
        <tr class="dataHeader">
          <th class="text-center"> date      </th>
          <th class="text-center"> month     </th>
          <th class="text-center"> claimId   </th>
          <th class="text-center"> amount    </th>
          <th class="text-center"> network   </th>
          <th class="text-center"> patient   </th>
          <th class="text-center"> physician </th>
          <th class="text-center"> service   </th>
        </tr>
      </thead>
      <tbody>
        {{#each leakageData}}
        {{> leakageDataRow}}
        {{/each}}
      </tbody>
      <tfoot>
        {{> leakageDataNav}}
      </tfoot>
    </table>
  </div>

</template>

<template name="leakageDataRow">
  <tr class="dataRow small">
    <td class="text-center">{{ fmtDate      }}</td>
    <td class="text-center">{{ month        }}</td>
    <td class="text-center">{{ claimId      }}</td>
    <td class="text-right" >{{ fmtAmount    }}</td>
    <td class="text-center">{{ fmtNetwork   }}</td>
    <td class="text-center">{{ fmtPatient   }}</td>
    <td class="text-center">{{ fmtPhysician }}</td>
    <td class="text-center">{{ fmtService   }}</td>
  </tr>
</template>

<template name="leakageDataPageLimit">
  <div class="pull-right small">
    <select id="leakageDataPageLimit"> 
      {{#each limits}}
      <option value="{{value}}" {{selected}}>{{value}}</option>
      {{/each}}
    </select> 
  </div>
</template>

<template name="leakageDataNav">
<tr>{{>leakageDataNavPrev}}{{>leakageDataNavNext}}</tr>
</template>

<template name="leakageDataNavPrev">
<td colspan="4"><button class="button">prev</button></td>
</template>

<template name="leakageDataNavNext">
<td class="text-right" colspan="4"><button class="button">next</button></td>
</template>
