<!-- client/views/leakage/leakageFilters.html
===  
===  The leakageFilters templates.
===
===
===  Templates:
===
===
===
===  last-modified: <2014-01-28 18:07:06 golden@golden-garage.net>
-->

<template name="leakageFilters">
  <div id="leakage-filters" class="col-md-2"><!-- filter controls -->

    <form>

      <fieldset> 

        {{> leakageFilterPatient   }}

        <br>

        {{> leakageFilterPhysician }}

        <br>

        {{> leakageFilterService   }}

        <br>

        {{> leakageFilterDates     }}

      </fieldset>

    </form>

  </div>
</template>

<template name="leakageFilterPatient">
  <h4> Patient Type </h4>
  <label class="checkbox"> <input type="checkbox" value="M" {{ isCheckedPatient   'M' }}> Managed     </label>
  <label class="checkbox"> <input type="checkbox" value="U" {{ isCheckedPatient   'U' }}> Unmanaged   </label>
</template>

<template name="leakageFilterPhysician">
  <h4> Physician Type </h4>
  <label class="checkbox"> <input type="checkbox" value="E" {{ isCheckedPhysician 'E' }}> Employed    </label>
  <label class="checkbox"> <input type="checkbox" value="A" {{ isCheckedPhysician 'A' }}> Affiliated  </label>
</template>

<template name="leakageFilterService">
  <h4> Services </h4>
  <label class="checkbox"> <input type="checkbox" value="O" {{ isCheckedService   'O' }}> Offered     </label>
  <label class="checkbox"> <input type="checkbox" value="N" {{ isCheckedService   'N' }}> Not offered </label>
</template>

<template name="leakageFilterDates">
  <h4> Months </h4>

  <table id="leakageFilterDates">
    <tbody>
      <tr>
        <td class="text-right"><label for="leakageFilterDatesStart">Start</label></td>
        <td>
          <select id="leakageFilterDatesStart"> 
            {{#each startMonths}}
              <option value="{{ date }}" {{selected}}>{{ month }}
            {{/each}}
          </select> 
        </td>
      <tr>
        <td class="text-right"><label for="leakageFilterDatesEnd">End</label></td>
        <td>
          <select id="leakageFilterDatesEnd"> 
            {{#each endMonths}}
              <option value="{{ date }}" {{selected}}>{{ month }}
            {{/each}}
          </select> 
        </td>
      </tr>
    </tbody>
  </table>

</template>
