#leakage
{
    #leakage-datatable
    {      
        table
        {
            border: 0;

            thead
            {
                th
                {
                    border:  0;
                    padding: 0;

                    border-bottom:  2px solid black;
                }
            }

            tbody
            {     
                tr :first-child
                {
                    border-left:  2px solid black;
                }

                tr :last-child
                {
                    border-right:  2px solid black;
                }
            }

            tbody, tfoot
            {     
                tr :not(:first-child)
                {     
                    padding-right: 30px;
                }

                td
                {
                    font-family: "Courier New", Courier, monospaced;
                    font-weight: bold;
                }
            }

            tfoot
            {
                td
                {
                    border: 0;

                    border-top:  2px solid black;
                }
            }
        }
    }
}

#leakage-filters
{      
    padding-top: 60px;

    #leakageFilterDates
    {
        tr :first-child
        {
             padding-left:  0px;
            padding-right:  5px;
        }
    }
}

#leakageData
{
    table
    {
        border: 0;

        thead
        {
            th
            {
                border:  0;
                padding: 0;

                border-bottom:  2px solid black;
            }
        }

        tbody
        {
            tr :first-child
            {
                border-left:  2px solid black;
            }

            tr :last-child
            {
                border-right:  2px solid black;
            }

            td
            {
                font-family: "Courier New", Courier, monospaced;
                font-weight: bold;
            }
        }
        
        tfoot
        {
            tr :first-child
            {
                padding-left:  30px;
            }

            tr :last-child
            {
                padding-right: 30px;
            }

            td
            {
                border:  0;

                border-top:  2px solid black;
            }
        }
    }
}
