#leakage
{
    #leakage-datatable
    {      
                   margin-left: -25px;

      th
      {
                vertical-align: bottom;
      }

      tr :first-child
      {
                    text-align: center;
                   font-weight: bold;
      }

      tr :not(:first-child)
      {
                 padding-right: 30px;
      }

      tr.ldtTotal :first-child
      {
                    text-align: right;
      }

    }
}

#leakage-filters
{      
                   padding-top: 60px;
}

#leakageData
{
    td
    {
                   font-family: "Courier New", Courier, monospaced;
                   font-weight: bold;
    }
}