<!-- client/views/leakage/leakageFilters.html
===  
===  The leakageFilters templates.
===
===
===  Templates:
===
===
===
===  last-modified: <2014-01-27 22:09:47 golden@golden-garage.net>
-->

<template name="leakageFilters">
  <div id="leakage-filters" class="col-md-2"><!-- filter controls -->

    <form>

      <fieldset> 

        {{> leakageFilterPatient   }}

        <br>

        {{> leakageFilterPhysician }}

        <br>

        {{> leakageFilterService   }}

      </fieldset>

    </form>

  </div>
</template>

<template name="leakageFilterPatient">
  <h4> Patient Type </h4>
  <label class="checkbox"> <input type="checkbox" value="M" {{ isCheckedPatient   'M' }}> Managed     </label>
  <label class="checkbox"> <input type="checkbox" value="U" {{ isCheckedPatient   'U' }}> Unmanaged   </label>
</template>

<template name="leakageFilterPhysician">
  <h4> Physician Type </h4>
  <label class="checkbox"> <input type="checkbox" value="E" {{ isCheckedPhysician 'E' }}> Employed    </label>
  <label class="checkbox"> <input type="checkbox" value="A" {{ isCheckedPhysician 'A' }}> Affiliated  </label>
</template>

<template name="leakageFilterService">
  <h4> Services </h4>
  <label class="checkbox"> <input type="checkbox" value="O" {{ isCheckedService   'O' }}> Offered     </label>
  <label class="checkbox"> <input type="checkbox" value="N" {{ isCheckedService   'N' }}> Not offered </label>
</template>
