<!-- client/views/application/header.html
===
=== The application's page header.
=== 
=== Includes: the brand button, the navigation bar and the login button.
=== 
=== Provides:
===
===   {{> header}} - the site's peage header template
===
=== 
=== last-modified: <2014-01-26 08:19:25 golden@golden-garage.net>
-->
<template name="header">
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container">

            <!-- navigation toggle for small screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <!-- site name -->
            <a class="brand" href="{{pathFor 'notesList'}}">
              <table><tr>
                  <td class="brand-icon">
                    <i class="fa fa-cogs fa-2x">&nbsp;</i>
                  </td>
                  <td  class="brand-title">
                    golden&#8209;garage.net
                  </td>
              </tr></table>
            </a>

            <!-- menu items -->
            <div class="nav-collapse collapse">

              <!-- new note -->
              <div class="nav nav-new">
                {{#if currentUser}}<li><a href="{{pathFor 'noteCreate'}}">New</a></li>{{/if}}
              </div>

              <div class="pull-right">

                <!-- user/login pull down -->
                <ul class="nav nav-login">
                  <li>{{loginButtons}}</li>
                </ul>

                <!-- settings -->
                <ul class="nav nav-settings">
                  {{#if currentUser}}<li><i class="fa fa-cog"></i></li>{{/if}}
                </ul>

              </div>

            </div>

      </div>

    </div>
  </header>
</template>
