<!-- client/views/application/layout.html
===
=== The application's basic layout, its "digital photo frame".
=== 
=== The Router will inject an appropriate route template at {{yield}}.
===
=== This template will frame other the templates. 
=== The other application templates are injected into this template.
===
=== 
=== Provides:
===
===   {{> layout}} - the application's "digital photo frame"
===
=== 
=== last-modified: <2014-01-25 13:25:32 golden@golden-garage.net>
-->
<template name="layout">
  <body>
    <div class="container">

      {{> header}}

      <div id="main" class="row-fluid">

        <!-- route templates are injected at the yield marker -->
        {{yield}}

      </div>

    </div>
  </body>
</template>
