<!-- client/views/home/home.html
===
===  The HTML template for the application's landing page.
===
===  last-modified: <2014-01-26 09:26:14 golden@golden-garage.net>
-->

<template name="home">

  <div class="jumbotron">

    <h1>golden-garage.net</h1>

  </div>

  <div class="marketing">
    <div class="row">
      <div class="col-md-4">

        <h4><i class="fa fa-arrows-alt small"></i>&nbsp;<a href="{{pathFor 'notesList'}}">Notes</a></h4>

        <p>  A collection of useful links with notes. </p>

        <p>  Based on the code examples in the book: <a href="http://book.discovermeteor.com">Discover Meteor.</a> </p>

      </div>
    </div>
  </div>

</template>
