<!-- client/views/notes/note.html
===  
===  The Meteor templates for displaying and creating a single note.
===
===  Requires:
===
===    this         - a note
===
===    this.domain  - the note's domain                 {{domain}}
===    this.title   - the note's title                  {{title}}
===    this.url     - the note's reference URL          {{url}}
===
===  provides:
===
===    {{note}}       - the note display  temnplate
===    {{noteCreate}} - the note creation temnplate
===
===  last-modified: <2014-01-23 17:22:47 golden@golden-garage.net>
-->

<template name="note">
  {{> notesEach}}
</template>

<template name="noteCreate">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input name="url" type="text" value="" placeholder="Your URL"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
            <textarea name="message" type="text" value=""/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
