<!-- client/views/notes/Notes.html
===  
===  The Notes templates.
===
===
===  Templates:
===
===    notes        - display the Notes list
===    notesEach    - display each Note in the list
===
===    noteDetail   - display an individual Note in detail
===    noteCreate   - display a form for creating a new Note
===    noteEdit     - display a form for editing an existing Note
===
===
===  last-modified: <2014-01-25 15:00:38 golden@golden-garage.net>
-->

<!-- ___ notes templates _______________________________________________________________________________________ -->
<!-- {{{ >notesList   >notesEach                                              - display the notes list           -->

<template name="notesList">
  <div class="notes">
    {{#each notes}}
      {{> notesEach}}
    {{/each}}
  </div>
</template>

<!-- }}} -->
<!-- {{{ >notesEach   author, domain, ownNote, title, url ->noteEdit, ->note  - display one note in the list     -->

<template name="notesEach">
  <div class="note">
    <div class="note-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <p> 
        submitted by {{author}}
        {{#if ownNote}}<a href="{{pathFor 'noteEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'noteDetail'}}" class="discuss btn">Discuss</a>
  </div>
</template>

<!-- }}} -->

<!-- ___ note template _________________________________________________________________________________________ -->
<!-- {{{ >noteDetail  >notesEach                                              - display a Note in detail         -->

<template name="noteDetail">
  {{> notesEach}}
</template>

<!-- }}} -->
<!-- {{{ >noteCreate                                                          - display a create Note form       -->

<template name="noteCreate">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input name="url" type="text" value="" placeholder="Your URL"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
            <textarea name="message" type="text" value=""/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>

<!-- }}} -->
<!-- {{{ >noteEdit    title, url                                              - display an edit Note form        -->

<template name="noteEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
            <input name="url" type="text" value="{{url}}" placeholder="Your URL"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#">Delete post</a>
        </div>
    </div>
  </form>
</template>

<!-- }}} -->
